*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
   
    width: 1920px;
    font-size: 1rem;
    background-color:#FFFFFF;;;
}

.wrapper {
    height: 700px;
    max-width: 1920px;
    margin: 0 auto;
    background: #EEEFF1;;
}

.menu_head {
    display: flex;
    padding-top: 80px;
    padding-left: 400px;
    list-style: none;
    margin-bottom: 398px;
}


.m_link {
    padding-left: 42px;
    color: #34547A;
    text-decoration: none;
     
}

.m_link:hover,
.but__text:hover {
    color: rgb(199, 85, 19);
}

.head__title {
    position: absolute;
    width: 541px;
    height: 45px;
    left: 440px;
    top: 257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.head__text {
    position: absolute;
    width: 540px;
    height: 67px;
    left: 440px;
    top: 349px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.button {
    position: absolute;
    width: 225px;
    height: 65px;
    left: 398px;
    top: 481px;
    background: #34547A;
}

.but__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* container */

.container {
    position: absolute;
    width: 540px;
    height: 147px;
    left: 690px;
    top: 812px;
}

.cont__me {
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.cont__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.container__menu {
    position: absolute;
width: 1920px;
height: 250px;
left: 0px;
top: 1059px;
background: #34547A;
}



.container__work {
    position: absolute;
    width: 540px;
    height: 147px;
    left: 689px;
    top: 1409px;
}

.cont__work {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.container__text {
    padding-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.video {
padding-top: 80px;
}

iframe {
    width: 100%;
    height: 50vh;
}

/* footer */

.footer {
    position: absolute;
    width: 1920px;
    height: 151px;
    left: 0px;
    top: 2313px;
    background: #34547A;
}

.footer__text {
    padding-left: 409px;
    padding-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer__terms {
    padding-left: 409px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.cont_menu {
    padding-top: 96px;
    padding-left: 200px;
}
.cont_link {
    padding: 48px; 
}